$pie-colors: (#d70206, #F05B4F, #F4C63D, #453D3F) !default;

.semi-transparent {
    opacity: .5;
}

.ct-chart-pie {
    
	.ct-label {
		fill: #fff;
		display: block;
		width: 100%;
		height: 100%;
		font-size: 1.2em;
	}
    
    .ct-series {
        -webkit-transition: all .2s linear;
        transition: all 0.3s ease-out;
    }
    
}

.districts-bars-chart {
    .ct-labels {
        .ct-label {
            color: #000000;
        }
    }
}

.cats-stats-table {
	tr:hover {
		cursor: crosshair;
	}
}

.pie-legend {

	font-size: 1em;
	line-height: 2em;

	.pie-legend-item {

		padding-left: .2em;
		padding-right: .2em;

		&::before {
			content: "";
			width: 2em;
			font-size: 1em;
			height: 1em;
			line-height: 2em;
			font-size: 1em;
			display: inline-block;
			margin-right: .3em;
		}

		&:nth-child(1) {
			&::before {
				background: #d70206;
			}
		}
		&:nth-child(2) {
			&::before {
				background: #f05b4f;
			}
		}
		&:nth-child(3) {
			&::before {
				background: #f4c63d;
			}
		}
		&:nth-child(4) {
			&::before {
				background: #d17905;
			}
		}
		&:nth-child(5) {
			&::before {
				background: #453d3f;
			}
		}
		&:nth-child(6) {
			&::before {
				background: #59922b;
			}
		}

		&:hover {
			cursor: crosshair;
			outline: 1px solid #666;
		}
		
	}

}