.row {
    margin-bottom: 1.5em;
}

a.btn.btn-block {
    white-space: normal;
}

.padded {
    padding: 1em 0;
}

.box {
    padding: 1em;
}

.footer {
    color: #fff;
    font-size: 1.3em;

    a {
        color: yellow;
        text-decoration: underline;
        &:hover {
            color: #fff;
        }
    }
}

.stats-sum {
    border-top: 1px solid #666;
    text-align: right;
    padding-right: 7em;
    padding-top: .5em;
    background: #eee;
}